---
import type { Website } from "@/components/pages/Website/website.types";
import PostsGallery from "../components/PostsGallery.astro";

interface Props {
    webpage: Website;
}

const { webpage } = Astro.props;
---

<div class="h-20"></div>
<PostsGallery language={webpage.language} posts={webpage.posts} pageTitle={webpage.title} animations={webpage.animations} />
