<footer class="text-background mt-20 bg-foreground">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-6">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 mr-4">
        <p class="flex flex-col">
          <a href="/" class="text-3xl font-medium">IglesiasBC</a>
          <a href="https://onassis.dev" class="text-xs opacity-70 ml-0.5"
            >Por Onassis Salinas</a
          >
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-6 md:grid-cols-3">
        <div>
          <h2 class="mb-5 text-sm font-semibold uppercase">Menú</h2>
          <ul class="opacity-85 text-sm">
            <li class="mb-3">
              <a href="/" class="hover:underline">Inicio</a>
            </li>
            <li class="mb-3">
              <a href="/precios" class="hover:underline">Precios</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-5 text-sm font-semibold uppercase">Compañía</h2>
          <ul class="text-background opacity-85 text-sm">
            <li class="mb-3">
              <a href="/sobre-nosotros" class="hover:underline"
                >Sobre nosotros</a
              >
            </li>
            <li class="mb-3">
              <a href="/politica-de-privacidad" class="hover:underline"
                >Política de privacidad</a
              >
            </li>
            <li class="mb-3">
              <a href="/terminos-y-condiciones" class="hover:underline"
                >Términos y condiciones</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-5 text-sm font-semibold text-background uppercase">
            Contacto
          </h2>
          <ul class="text-background opacity-85 text-sm">
            <li class="mb-3">
              <a href="mailto:soporte@iglesiasbc.com" class="hover:underline"
                >soporte@iglesiasbc.com</a
              >
            </li>
            <li class="mb-3">
              <a href="https://wa.me/526642956883" class="hover:underline"
                >+52 664 2956883</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
