#caleandar {
  width: 100%;
}

.cld-main {
  width: 100%;
  height: 100%;
}

.cld-datetime {
  position: relative;
  width: 66%;
  min-width: 100px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}
.cld-datetime .today {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
}
.cld-nav {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 30px;
}
.cld-nav:hover {
  cursor: pointer;
}
.cld-nav svg {
  fill: var(--border);
}
.cld-nav:hover svg {
  fill: #666;
}
.cld-rwd {
  float: left;
}
.cld-fwd {
  float: right;
}

.cld-days,
.cld-labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  background-color: var(--border);
}

.cld-days {
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
}
.cld-day {
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
.cld-labels {
  background-color: var(--background);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
}
.cld-day,
.cld-label {
  background-color: var(--background);
  color: var(--text);
  font-weight: 400;
}
.cld-label {
  border-right: 1px solid var(--border);
  text-align: center;
}
.cld-day {
  min-height: 80px;
  display: block;
  float: left;
  position: relative;
  margin: 0;
  padding: 5px;
  aspect-ratio: auto;
}
.cld-day.clickable:hover {
  cursor: pointer;
}
.cld-day.today {
  background-color: #f0f0f0;
}
.cld-day.disableDay {
  opacity: 1;
}
.cld-day.nextMonth,
.cld-day.prevMonth {
  color: var(--border);
}
.cld-number {
  margin: 0;
  width: fit-content;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.cld-title {
  font-size: 11px;
  margin: 0;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--primarytext) !important;
  margin-bottom: 1px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.cld-number.eventday {
  /* font-weight: bold; */
}
.cld-title a {
  white-space: nowrap;
}
@media (max-width: 640px) {
  .cld-day {
    overflow-x: hidden;
  }
  .cld-title {
    font-size: 10px;
    margin-left: -5px;
  }
}
