@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Geist:wght@100..900&display=swap");

.p1 {
  /* simple */
  --radius: 0.5rem;
  --border: var(--secondary);
  --headerfont: "Geist", sans-serif;
  --size: 600;
  font-weight: 400;
}
.p2 {
  /* elegante */
  --radius: 0.5rem;
  --border: var(--secondary);
  --headerfont: "Cardo", serif;
  --size: 100;
  font-weight: 250;
}
.p3 {
  /* moderno */
  --radius: 0.5rem;
  --border: var(--secondary);
  --headerfont: "Geist", sans-serif;
  --size: 400;
  font-weight: 400;
}

body {
  --foreground: hsl(249, 47%, 3%);
  --background: hsl(0, 0%, 100%);
  --background2: hsl(0, 0%, 97%);
  --secondary: hsl(0, 0%, 90%);
  --borderwidth: 1px;
}

.scrollable {
  scroll-margin-top: 7rem;
}

main {
  padding-top: 0;
  scroll-behavior: smooth;
}

.section-1:nth-child(even) {
  background-color: var(--background2);
}

.section-1:nth-child(odd) {
  background-color: var(--background);
}
