---
interface Props {
  href: string;
  variant?: "outside" | "basic" | "outside2";
}

const { href, variant } = Astro.props;
---

{
  variant === "outside" && (
    <a
      class="h-10 rounded-lg text-sm font-medium border-border flex items-center justify-center px-8"
      href={href}
    >
      <slot />
    </a>
  )
}

{
  (!variant || variant === "basic") && (
    <a
      class="px-8 h-10 flex items-center justify-center rounded-lg bg-primary text-primarytext text-sm font-medium"
      href={href}
    >
      <slot />
    </a>
  )
}

{
  variant === "outside2" && (
    <a
      class="h-10 rounded-lg text-sm font-medium border-border flex items-center justify-center px-8"
      href={href}
    >
      <slot />
    </a>
  )
}
