---
import { cn } from "@/lib/utils";

interface Props {
  full?: boolean;
  animations: number;
  className?: string;
}

const { full, animations, className } = Astro.props;
---

<section class={"flex justify-center section-1 animatedscroll" + animations}>
  <div class={cn("py-8 lg:py-16 w-full", !full && "px-4 max-w-6xl", className)}>
    <slot />
  </div>
</section>
