---
import type {
  Activity as ActivityType,
  Website,
} from "@/components/pages/Website/website.types";
import Activity from "./Activity.astro";
import Section1 from "../basics/Section1.astro";

interface Props {
  activities?: ActivityType[];
  animations: number;
  language: Website["language"];
}

const { activities, animations, language } = Astro.props;
---

<h2
  class={"text-3xl font-header text-center mt-10 mb-5 animatedscroll" +
    animations}
>
  {language === "es" ? "Nuestras actividades" : "Our activities"}
</h2>

<Section1 animations={animations}>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">
    {
      activities?.map((activity, i) => (
        <Activity animations={animations} activity={activity} />
      ))
    }
  </div>
</Section1>
