---
import type { Website } from "@/components/pages/Website/website.types";

interface Props {
    title: string;
    language: Website["language"];
    logo?: string;
    blog: boolean;
}

const { title, logo, language, blog } = Astro.props;
---

<header class="w-full fixed z-50" transition:persist="headertop">
    <div class="relative bg-background text-foreground shadow-cshadow shadow-md border-b-border px-4" transition:persist="header">
        <nav class="relative flex items-center justify-between h-16 md:rounded-md md:px-8 md:py-2">
            <a href={`/${title.replaceAll(" ", "-")}/`} class="flex-shrink-0">
                <img class="w-auto h-10 md:h-12" src={logo} alt="" />
            </a>

            <div class="hidden ml-10 md:flex md:items-center md:ml-auto md:space-x-10">
                <a href={`/${title.replaceAll(" ", "-")}/`} title="" class="text-sm transition-all duration-200 hover:text-primary focus:text-primary">{language === "es" ? "Inicio" : "Home"}</a>

                <a href={`/${title.replaceAll(" ", "-")}/eventos`} title="" class="text-sm transition-all duration-200 hover:text-primary focus:text-primary">{language === "es" ? "Eventos" : "Events"}</a>

                <a href={`/${title.replaceAll(" ", "-")}/servicios`} title="" class="text-sm transition-all duration-200 hover:text-primary focus:text-primary">{language === "es" ? "Servicios" : "Services"}</a>
                {
                    blog && (
                        <a href={`/${title.replaceAll(" ", "-")}/blog`} title="" class="text-sm transition-all duration-200 hover:text-primary focus:text-primary">
                            Blog
                        </a>
                    )
                }
            </div>

            <button id="toggle" onclick="toggle()" type="button" class="inline-flex p-2 transition-all duration-200 rounded-md md:hidden">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </nav>
    </div>
    <nav id="nav" class="bg-background flex fixed flex-col justify-evenly md:hidden w-full left-0 h-screen max-w-56 z-[-1] p-6 shadow-cshadow shadow-lg border-r-border text-center">
        <a href={`/${title.replaceAll(" ", "-")}/`} title="" class="text-lg transition-all duration-200 hover:text-primary focus:text-primary border-secondary border-b">{language === "es" ? "Inicio" : "Home"}</a>

        <a href={`/${title.replaceAll(" ", "-")}/eventos`} title="" class="text-lg transition-all duration-200 hover:text-primary focus:text-primary border-secondary border-b">{language === "es" ? "Eventos" : "Events"}</a>

        <a href={`/${title.replaceAll(" ", "-")}/servicios`} title="" class="text-lg transition-all duration-200 hover:text-primary focus:text-primary border-secondary border-b">{language === "es" ? "Servicios" : "Services"}</a>

        {
            blog && (
                <a href={`/${title.replaceAll(" ", "-")}/blog`} title="" class="text-lg transition-all duration-200 hover:text-primary focus:text-primary border-secondary border-b">
                    Blog
                </a>
            )
        }
    </nav>

    <div onclick="hide()" id="backdrop"></div>
</header>

<style is:global>
    #nav {
        bottom: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transform: translateX(-100%);
    }

    #backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        cursor: pointer;
        background-color: black;
        opacity: 0.2;
        z-index: -2;
    }

    .toogle-show {
        transform: translateX(0) !important;
    }
    .button-close {
    }
    .backdrop-show {
        display: block !important;
    }
</style>
