---
import type { Website } from "@/components/pages/Website/website.types";
import AButton from "../basics/AButton.astro";
interface Props {
  webpage: Website;
}

const { webpage } = Astro.props;
---

<div
  class={"grid grid-cols-1 gap-12 md:grid-cols-2 max-w-6xl mx-auto py-16 md:py-24 lg:py-32 px-4 animatedscroll" +
    webpage.animations}
>
  <div
    class="gap-6 flex flex-col item-center justify-center w-full animatedscroll"
  >
    <h1
      class="text-5xl md:text-6xl leading-tight font-header text-center sm:text-left"
    >
      {webpage.title}
    </h1>
    <p
      class="text-md md:text-xl text-muted-foreground text-center sm:text-left"
    >
      {webpage.description}
    </p>
    <div
      class="flex flex-wrap gap-2 xs:gap-4 justify-center sm:justify-start mb-5"
    >
      <AButton href="#about"
        >{webpage.language === "es" ? "Sobre nosotros" : "About us"}</AButton
      >
      {
        webpage.preachLink && (
          <AButton href={webpage.preachLink} variant="outside">
            {webpage.language === "es" ? "Predica" : "Preach"}
          </AButton>
        )
      }
    </div>
  </div>
  <img
    src={webpage.coverImg}
    alt="Foto de portada"
    class="object-cover aspect-video rounded-xl shadow-lg"
  />
</div>
