---
import type { Website } from "@/components/pages/Website/website.types";
import AButton from "../basics/AButton.astro";
interface Props {
    webpage: Website;
}

const { webpage } = Astro.props;
---

<div class="relative bg-gradient-to-r h-screen text-white overflow-hidden">
    <div class="fixed inset-0 -z-10">
        <img src={webpage.coverImg} alt="Background Image" class="object-cover object-center w-full h-full" />
        <div class="absolute inset-0 bg-black opacity-60"></div>
    </div>

    <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
        <h1 class="text-5xl md:text-8xl leading-tight mb-12 mx-2 font-header">{webpage.title}</h1>
        <p class="text-md md:text-lg mb-12 max-w-5xl mx-3">{webpage.description}</p>
        <div class="flex flex-wrap gap-2 xs:gap-5 justify-center">
            <AButton href="#about">{webpage.language === "es" ? "Sobre nosotros" : "About us"}</AButton>
            {
                webpage.preachLink && (
                    <AButton href={webpage.preachLink} variant="outside2">
                        {webpage.language === "es" ? "Predica" : "Preach"}
                    </AButton>
                )
            }
        </div>    </div>
</div>
