---
import Section1 from "../basics/Section1.astro";

interface Props {
  mission?: string;
  animations: number;
}

const { mission, animations } = Astro.props;
---

<Section1 animations={animations}>
  <div
    class="bg-foreground py-40 text-background px-2 xs:px-6 md:px-16 lg:px-24 text-center w-full rounded-md shadow-md shadow-cshadow"
  >
    <p class="text-3xl mb-4 w-full font-header m-0 p-0">{mission}</p>
  </div>
</Section1>
