---
import Section1 from "../basics/Section1.astro";

interface Props {
    animations: number;
    mission?: string;
}

const { mission, animations } = Astro.props;
---

<Section1 animations={animations} full>
    <div class="flex w-full bg-foreground justify-center">
        <div class="py-40 text-background text-center w-full px-4 max-w-6xl">
            <p class="text-3xl mb-4 w-full font-header m-0 p-0">{mission}</p>
        </div>
    </div>
</Section1>
