---
import type { Website } from "@/components/pages/Website/website.types";
import AButton from "../basics/AButton.astro";
import H2 from "../basics/H2.astro";
import Section1 from "../basics/Section1.astro";
interface Props {
  mapsLink?: string;
  ubication?: string;
  animations: number;
  language: Website["language"];
}

const { mapsLink, ubication, animations, language } = Astro.props;
---

<Section1 animations={animations}>
  <div
    class="w-full sm:text-lg flex flex-wrap gap-10 justify-between px-4 shadow-;"
  >
    <div class="w-full md:w-1/2">
      <H2>{language === "es" ? "Visitanos" : "Visit us"}</H2>
      <p class="mb-4">{ubication}</p>
      {
        mapsLink && (
          <AButton href={mapsLink}>
            {language === "es" ? "Visitar" : "Visit"}
          </AButton>
        )
      }
    </div>
  </div>
</Section1>
