---
import Layout from "../layouts/IndexLayout.astro";
import { Button } from "@/components/ui/button";
import H1 from "@/components/pages/Landing/H1.astro";
import { FAQs } from "@/components/pages/Landing/FAQs";
import { Features } from "@/components/pages/Landing/Features";
import { Cta } from "@/components/pages/Landing/CTA";
import { Problem } from "@/components/pages/Landing/Problem";
---

<Layout title="IglesiasBC">
  <section
    class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-[2fr_1fr] gap-1 py-24 pt-10 sm:pt-24 sm:min-h-[70lvh] items-center"
  >
    <div class="space-y-4">
      <H1
        variant="big"
        className=" text-5xl md:text-6xl font-medium text-center sm:text-left"
        >Moderniza tu iglesia con una sola plataforma</H1
      >
      <p
        class="text-lg text-muted-foreground max-w-lg text-center sm:text-left"
      >
        Te ayudamos a mejorar la administración y comunicación de tu iglesia con
        nuestras herramientas sin gastar una fortuna.
      </p>
      <div class="flex flex-col sm:flex-row gap-2 mt-2 mb-16">
        <a href={import.meta.env.PUBLIC_APP_BASE + "/signup?redirect=/"}
          ><Button
            className="hover:opacity-90 transition-transform w-full sm:w-auto"
            size="sm">Pruebalo gratis</Button
          ></a
        >
        <a href="#a1"
          ><Button
            className="transition-transform w-full sm:w-auto"
            variant="outline"
            size="sm">Agenda una demostración</Button
          ></a
        >
      </div>
      <p
        class="text-muted-foreground text-sm ml-0.5 !mt-1 text-center sm:text-left"
      >
        No se necesita tarjeta de crédito.
      </p>
    </div>
    <img
      src="/hero.webp"
      alt="Preview of the dashboard"
      class="aspect-square w-full object-cover overflow-hidden justify-center items-center flex max-w-6xl rounded-md"
    />
  </section>

  <section class="w-full bg-muted py-24">
    <div class="max-w-6xl mx-auto bg-muted w-[95%]">
      <Problem client:idle />
    </div>
  </section>

  <section class="pt-24 w-full">
    <div class="max-w-6xl mx-auto w-[95%]">
      <h2 class="text-5xl font-medium text-center mb-8">
        Todas nuestras funciones
      </h2>
      <Features client:idle />
    </div>
  </section>

  <section class="py-24 w-full">
    <div class="max-w-6xl mx-auto w-[95%]">
      <h2 class="text-5xl font-medium text-center mb-8">
        Preguntas frecuentes
      </h2>
      <FAQs client:idle />
    </div>
  </section>

  <section class="w-full bg-muted py-24">
    <div class="max-w-6xl mx-auto w-[95%]">
      <Cta client:idle />
    </div>
  </section>
</Layout>
