---
import IndexLayout from "@/layouts/IndexLayout.astro";
---

<IndexLayout title="Política de Privacidad">
    <section class="flex flex-col gap-10 px-2 xs:px-5 mx-auto mt-10">
        <h2 class="w-full max-w-4xl mx-auto text-4xl">Política de Privacidad</h2>

        <div class="w-full max-w-4xl mx-auto space-y-6 text-justify">
            <p>
                La presente Política de Privacidad establece los términos en que IglesiasBC utiliza y protege la información proporcionada por sus usuarios al utilizar nuestro sitio web y servicios. Estamos comprometidos con la seguridad de los datos de nuestros usuarios. Al solicitar el llenado de campos con información personal con la cual pueda ser identificado, garantizamos que se usará de
                acuerdo con los términos de este documento. Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o ser actualizada, por lo que recomendamos revisar continuamente esta página para asegurarse de que está de acuerdo con dichos cambios.
            </p>

            <h3 class="font-medium text-xl">Información que Recogemos</h3>

            <p>Nuestro sitio web puede recoger información personal, por ejemplo, nombre, información de contacto como dirección de correo electrónico, información demográfica, así como cualquier otra información necesaria para proporcionar los servicios de blog, inventario, y gestión financiera.</p>

            <h3 class="font-medium text-xl">Uso de la Información Recogida</h3>

            <p>
                IglesiasBC utiliza la información para proporcionar el mejor servicio posible, mantener un registro de usuarios, y mejorar nuestros productos y servicios, que ahora incluyen funcionalidades de blogs, gestión de inventarios, y finanzas. Es posible que enviemos correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información
                publicitaria relevante para usted o que pueda brindarle algún beneficio. Estos correos electrónicos se enviarán a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
            </p>

            <p>IglesiasBC está totalmente comprometido a cumplir con el compromiso de mantener su información segura. Utilizamos sistemas avanzados y los actualizamos constantemente para asegurar que no exista ningún acceso no autorizado.</p>

            <h3 class="font-medium text-xl">Cookies</h3>

            <p>Una cookie es un fichero enviado con la finalidad de solicitar permiso para almacenarse en su ordenador. Al aceptar dicho fichero, la cookie se crea y sirve para tener información respecto al tráfico web y facilitar futuras visitas a un sitio recurrente. Las cookies permiten a los sitios web reconocerse individualmente y ofrecer un servicio personalizado.</p>

            <p>
                Nuestro sitio web utiliza cookies para identificar las páginas que son visitadas y su frecuencia. Esta información se utiliza únicamente para análisis estadístico y luego se elimina permanentemente. Puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo, las cookies ayudan a proporcionar un mejor servicio web, y no otorgan acceso a información de su
                ordenador ni de usted, a menos que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de cookies; sin embargo, la mayoría de los navegadores aceptan cookies automáticamente para proporcionar un mejor servicio web. También puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan, es posible que no pueda utilizar
                algunos de nuestros servicios.
            </p>

            <h3 class="font-medium text-xl">Enlaces a Terceros</h3>

            <p>
                Este sitio web puede contener enlaces a otros sitios de interés. Una vez que haga clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre el sitio al que es redirigido y, por lo tanto, no somos responsables de los términos de privacidad ni de la protección de sus datos en esos otros sitios de terceros. Dichos sitios están sujetos a sus propias políticas de
                privacidad, por lo que es recomendable que las consulte para confirmar que está de acuerdo con ellas.
            </p>

            <h3 class="font-medium text-xl">Control de Información Personal</h3>

            <p>
                En cualquier momento, puede restringir la recopilación o el uso de la información personal que proporciona a nuestro sitio web. Cada vez que se le solicite llenar un formulario, como el de registro de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico. En caso de haber marcado la opción de recibir nuestro boletín o publicidad, puede cancelarla
                en cualquier momento.
            </p>

            <p>IglesiasBC no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con una orden judicial.</p>

            <p>IglesiasBC se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.</p>
        </div>
    </section>
</IndexLayout>
