---
import IndexLayout from "@/layouts/IndexLayout.astro";
---

<IndexLayout title="Sobre nosotros">
    <section class="flex flex-col gap-10 px-2 xs:px-5 mx-auto mt-10">
        <h2 class="w-full max-w-4xl mx-auto text-4xl">Sobre nosotros</h2>

        <div class="w-full max-w-4xl mx-auto space-y-6 text-justify">
            <p>IglesiasBC comenzó en 2024 en Tijuana, Baja California, creado por <a class="hover:underline" href="https://onassis.dev">Onassis Salinas</a> con la misión de empoderar a las iglesias pequeñas. Lo que empezó como una herramienta para crear sitios web, ha evolucionado en un sistema integral de administración diseñado para cubrir todas las necesidades de una iglesia moderna.</p>

            <p>Entendemos que gestionar una iglesia puede ser un desafío, especialmente cuando se trata de tecnología. Por eso, hemos desarrollado un sistema fácil de usar que abarca desde la administración de miembros y la emisión de certificados, hasta la creación de blogs, páginas web, y la organización de clases. IglesiasBC está diseñado para que cualquier iglesia, sin importar su tamaño, pueda manejar todo esto en un solo lugar.</p>

            <p>Nuestro objetivo es no solo facilitar la gestión interna de tu iglesia, sino también fomentar la conexión y el crecimiento de la comunidad. Con IglesiasBC, puedes conectar con otras iglesias, compartir eventos, y expandir tu alcance en línea.</p>

            <p>Creemos que todas las iglesias merecen las herramientas necesarias para crecer y conectarse con más personas. En IglesiasBC, hacemos esto posible de una manera accesible, eficiente y sin complicaciones.</p>

            <p class="font-medium"><a href="/precios">¡Únete a nosotros en IglesiasBC y lleva la gestión de tu iglesia al siguiente nivel!</a></p>
        </div>
    </section>
</IndexLayout>
