---
import IndexLayout from "@/layouts/IndexLayout.astro";
---

<IndexLayout title="Términos y Condiciones">
    <section class="flex flex-col gap-10 px-2 xs:px-5 mx-auto mt-10">
        <h2 class="w-full max-w-4xl mx-auto text-4xl">Términos y Condiciones</h2>

        <div class="w-full max-w-4xl mx-auto space-y-6 text-justify">
            <h3 class="font-medium text-xl">Información Relevante</h3>

            <p>
                Es requisito necesario para el uso de los servicios ofrecidos en este sitio que lea y acepte los siguientes Términos y Condiciones. El uso de nuestros servicios implica que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Para acceder a nuestros servicios, es necesario el registro por parte del usuario, proporcionando datos personales verídicos
                y estableciendo una contraseña.
            </p>

            <p>El usuario tiene la posibilidad de cambiar la contraseña para acceder a su cuenta en cualquier momento. Sin embargo, no se debe compartir esta contraseña con terceros.</p>

            <p>Todas las transacciones realizadas a través de este sitio web están sujetas a verificación y confirmación, incluyendo la validación del método de pago y el cumplimiento de las condiciones establecidas por dicho método de pago. En algunos casos, puede ser necesaria una verificación adicional a través de correo electrónico.</p>

            <h3 class="font-medium text-xl">Licencia</h3>

            <p>IglesiasBC concede una licencia para que los usuarios utilicen los servicios ofrecidos en este sitio web, que incluyen gestión de sitios web, blogs, inventarios y finanzas, de acuerdo con los Términos y Condiciones que se describen en este documento.</p>

            <h3 class="font-medium text-xl">Uso No Autorizado</h3>

            <p>Los usuarios no están autorizados a utilizar los servicios, total o parcialmente, para fines distintos a los especificados por IglesiasBC. Esto incluye la redistribución o reventa de los servicios ofrecidos.</p>

            <h3 class="font-medium text-xl">Propiedad Intelectual</h3>

            <p>Todos los servicios ofrecidos por IglesiasBC, incluyendo pero no limitándose a software, plantillas, y contenido, son propiedad exclusiva de IglesiasBC o de sus proveedores. Los usuarios no pueden reclamar propiedad intelectual o exclusiva sobre ninguno de los servicios proporcionados por IglesiasBC.</p>

            <h3 class="font-medium text-xl">Política de Contenido</h3>

            <p>El usuario se compromete a no utilizar el servicio para:</p>

            <ul class="list-disc pl-4">
                <li>Publicar o compartir contenido inapropiado, incluyendo lenguaje vulgar u ofensivo.</li>
                <li>Subir imágenes o contenido gráfico inapropiado.</li>
                <li>Incitar al odio o la discriminación.</li>
                <li>Realizar cualquier acción que viole los derechos de otros usuarios o terceros.</li>
            </ul>

            <h3 class="font-medium text-xl">Servicio de Gratuidad por Errores Técnicos</h3>

            <p>En caso de que un usuario experimente problemas técnicos que impidan el uso adecuado de la plataforma y estos sean causados por errores inherentes a la misma, se otorgará un mes de servicio gratuito como compensación. Esto está sujeto a la verificación por parte del equipo técnico de IglesiasBC.</p>

            <h3 class="font-medium text-xl">Privacidad</h3>

            <p>IglesiasBC garantiza la confidencialidad y seguridad de la información personal proporcionada por los usuarios. Los datos ingresados no serán compartidos con terceros, excepto en los casos especificados por la ley.</p>

            <p>IglesiasBC se reserva el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso.</p>
        </div>
    </section>
</IndexLayout>
