---
import colors from "tailwindcss/colors";

interface Props {
  color: string;
  text: string;
}

const { color, text } = Astro.props;
---

<div
  class="h-9 lg:h-11 min-w-[30%] gap-2 px-1 flex justify-center items-center rounded-md text-sm sm:text-md"
  style={`color: ${(colors as any)[color][700]}; background-color: var(--${color}-background)`}
>
  <slot />
  {text}
</div>
